<div class="js-container">
<ul class="gallery list">
    {{#each this}}
    <li class="gallery_item" id={{id}}>
        <article class="card">
            <div class="photo-card">
                <div class="card-img">
                   <img src="{{largeImageURL}}" alt="{{tags}}" width="800px" height="600px" hidden>
                    <img src="{{webformatURL}}" alt="{{tags}}" width="{{webformatWidth}}" height="{{webformatHeight}}" />
                </div>

                <div class="stats">
                    <p class="stats-item">
                        <i class="material-icons">thumb_up</i>
                        {{likes}}
                    </p>
                    <p class="stats-item">
                        <i class="material-icons">visibility</i>
                        {{views}}
                    </p>
                    <p class="stats-item">
                        <i class="material-icons">comment</i>
                        {{comments}}
                    </p>
                    <p class="stats-item">
                        <i class="material-icons">cloud_download</i>
                        {{downloads}}
                    </p>
                </div>
            </div>
        </article>
    </li>
    {{/each}}
</ul>
</div>